<!-- Add metadata for translation -->
<!-- https://angular.io/guide/i18n-common-prepare#i18n-metadata-for-translation -->
<h1 i18n="User welcome|An introduction header for the i18n app@@introductionHeader">Welcome to i18n!</h1>
<p>{{ greetingMessage }}</p>

<!-- Mark element attributes for translations -->
<!-- https://angular.io/guide/i18n-common-prepare#mark-element-attributes-for-translations -->
<img
  src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
  alt="Nx - Smart, Extensible Build Framework"
  i18n-alt="@@logoAlternativeText"
  width="450"
/>
<br>

<!-- Translate inline text without HTML element -->
<!-- https://angular.io/guide/i18n-common-prepare#translate-inline-text-without-html-element -->
<ng-container i18n>Text without an element</ng-container>

<div>
  <!-- Format data based on locale (using built-in pipes) -->
  <!-- https://angular.io/guide/i18n-common-format-data-locale -->
  <h3 i18n="@@builtInPipesSectionTitle">Built-in pipes</h3>
  <ul>
    <li>
      <ng-container i18n="Date label@@dateLabel">Date</ng-container>: {{ now | date:'mediumDate':localeId }}
    </li>

    <li>
      <ng-container i18n="Time label@@timeLabel">Time</ng-container>: {{ now | date:'mediumTime':localeId }}
    </li>

    <li>
      <ng-container i18n="Currency label@@currencyLabel">Currency</ng-container>: {{ 12.34 | currency }}
    </li>
  </ul>
</div>

<!-- Use the same ID multiple times -->
<!-- https://angular.io/guide/i18n-optional-manage-marked-text#define-unique-custom-ids -->
<form>
  <h3 i18n="@@feedbackFormTitle">Feedback form</h3>
  <button type="button" i18n="@@submitButton">Submit</button>
</form>

<form>
  <h3 i18n="@@contactUsFormTitle">Contact us form</h3>
  <button type="button" i18n="@@submitButton">Submit</button>
</form>

<!-- <div>Message: {{ hello$ | async | json }}</div> -->
